<div>
  <div class="row">
    <div class="col-md-3">
      <div class="searchbox control-group">
        <div class="controls">
          <input class="typeahead" type="text" placeholder="Movie Names">
          <span class="alert alert-danger input-alert"></span>
        </div>
      </div>
      <div id="movie-info"></div>
    </div>
    <div class="col-md-9">
      <div class="map"></div>
    </div>
  </div>
</div>